@import 'node_modules/coffeekraken-sugar/index';
@import 'node_modules/coffeekraken-s-button-component/index';
@import '../../../index';
@include s-init();
@include s-classes();
@include s-button-classes(
	$colors : primary
);
@include s-notification-classes(
	$colors : default primary secondary
);
body {
	padding: s-space(big);
}
